<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Guardar Estudiantes</title>
<link rel="stylesheet" href="other.css">
</head>
<body>
	<h1>Guardar Estudiantes</h1>

	<div class="container">
		<form th:action="@{/guardarEstudiante}" th:object="${estudiante}" method="post">
			<div class="row">
				<div class="col-25">
					<label for="fname">Nombre:</label>
				</div>
				<div class="col-75">
					<input type="text" th:field="*{nombre}" placeholder="Ingrese su nombre"/><br> 
					<span th:errors="*{nombre}"></span><br>
				</div>

				<div class="col-25">
					<label for="fname">Apellido:</label>
				</div>
				<div class="col-75">
					<input type="text" th:field="*{apellido}" placeholder="Ingrese su apellido"/><br> 
					<span th:errors="*{apellido}"></span><br>
				</div>

				<div class="col-25">
					<label for="fname">Carne:</label>
				</div>
				<div class="col-75">
					<input type="text" th:field="*{carne}"placeholder="Ingrese su carne"/><br> 
					<span th:errors="*{carne}"></span><br>
				</div>

				<div class="col-25">
					<label for="fname">Carrera:</label>
				</div>
				<div class="col-75">
					<input type="text" th:field="*{carrera}" placeholder="Ingrese su carrera"/><br> 
					<span th:errors="*{carrera}"></span><br>
				</div>

			</div>


			<div class="row">
				<input type="submit" value="Guardar Estudiante"/>
			</div>
		</form>
		<br>
		<div class="row">
			<input type="submit" value="Listado Estudiantes"
				onclick="location.href='listado'" />
		</div>
	</div>


</body>
</html>