<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Guardar Estudiantes</title>
</head>
<body>
	<h1>Guardar Estudiantes</h1>

	<form method="post" th:action="@{/inicio}" th:object="${estudiante}">
		<table>
			<!--<tr>
				<td><input type="button" class="btn btn-secondary"
					value="Regresar" onclick="location.href='./index15'" /></td>
			</tr>-->
			<tr>
				<td><label>Nombre: </label></td>
				<td><input type="text" th:field="*{nombre}"></td>
			</tr>
			<tr>
				<td><label>Apellidos:</label></td>
				<td><input type="text" th:field="*{apellido}"></td>
			</tr>
			<tr>
				<td><label>Carne: </label></td>
				<td><input type="text" th:field="*{carne}"></td>
			</tr>
			<tr>
				<td><label>Carrera: </label></td>
				<td><input type="text" th:field="*{carrera}"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Guardar Estudiante" /></td><br>
			</tr>
		</table>
	</form>
			<input type="submit" value="Listado Estudiantes" onclick="location.href='listado'"/>

</body>
</html>